# Server
PORT=3000
LIVE_BASE_PATH=/live
API_BASE_URL=http://api:8000

# Redis
REDIS_URL=redis://plane-redis:6379/
REDIS_HOST=plane-redis
REDIS_PORT=6379

# Sentry (optional)
LIVE_SENTRY_DSN=
LIVE_SENTRY_ENVIRONMENT=development
LIVE_SENTRY_TRACES_SAMPLE_RATE=0.5
