# API
NEXT_PUBLIC_API_BASE_URL=http://localhost:9999

# Base Path
NEXT_PUBLIC_SPACE_BASE_PATH=/spaces

# Support (optional)
NEXT_PUBLIC_SUPPORT_EMAIL=

# Sentry (optional)
NEXT_PUBLIC_SENTRY_DSN=
NEXT_PUBLIC_SENTRY_ENVIRONMENT=development
SENTRY_ORG_ID=
SENTRY_PROJECT_ID=
SENTRY_AUTH_TOKEN=
SENTRY_MONITORING_ENABLED=
